@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

html, body {
  background-color: #F3FBFF;
  font-family: 'Cabin', sans-serif;
  color: #0A162B;
  text-align: center;
  margin-bottom: -20px;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding-left: 0px;
  padding-right: 0px;
  overflow-x: hidden; 
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p {
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  font-weight: 400;
}

a {
  color: #0A162B;
}

h1 {
  font-size: 24px;
  padding-bottom: 0px;
  padding-top: 10px;
  margin-bottom: 0px;
  font-weight: 700;
}

h2, h3 {
  text-transform: uppercase;
  margin: 10px auto;
  max-width: 90%;
  font-size: 15px;
  padding-top: 20px;
}

h4 {
  text-transform: uppercase;
}

.container {
  margin: auto;
  width: 100%;
  margin-left: 0 auto;
  margin-right: 0 auto;
  overflow: hidden;
  background-color: #ffffff;
  padding-top: 15px;
}

/* header with badge image */
.header {
  display: flex;
  justify-content: center;
  margin: auto;
}

.badgeImg {
  width: 168px;
  height: 223.07px;
}
/* end of header */

/* navigation */
.linksContainer {
  max-width: 90%;
  flex-wrap: wrap;
  margin: auto;
}
.top-link {
  display: inline-block;
  font-weight: 700;
  line-height: 19.44px;
  color: #0a162b;
  margin: auto;
  padding: 10px;
  justify-content: space-evenly;
}
.top-link:nth-of-type(1) {
  max-width: 54px;
}
.top-link:nth-of-type(2) {
  max-width: 54px;
}
.top-link:nth-of-type(3) {
  max-width: 54px;
}
.top-link:nth-of-type(4) {
  max-width: 101px;
}
.top-link:nth-of-type(5) {
  max-width: 75px;
}
/* end of navigation */

/* horizontal line  */
.horizontalLine {
  width: 90%;
  border-bottom: #0A162B solid 2px;
  margin: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 20px;
}
/* end of horizontal line  */

/* form section */
.sponsored {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  padding-top: 0;
  margin-top: 0;
}

#searchForm {
  max-width: 90%;
  margin: auto;
}

.formInput {
  width: 100%;
  display: block;
  height: 48px;
  border: 5px solid #D0D0D0;
}

.searchButton {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%), #FFC327;
  background-blend-mode: overlay, normal;
  border: hidden;
  border-radius: 30px;
  display: block;
  margin: auto;
  margin-top: 10px;
  min-width: 100%;
  height: 48px;
  text-transform: uppercase;
}

#searchForm select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 50%;
  border: 1px solid #dfdfdf;
  border-radius: 2px;
  margin-right: 2rem;
  padding: 1rem;
  padding-right: 2rem;
}
/* end of form section */

/* info card section */
.bottomInfoDiv {
  background-color: #F3FBFF;
  padding-bottom: 20px;
  display:block;
  width: 100%;
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  overflow: none;
}

.bottomInfoHeader {
  max-width: 80%;
  margin: auto;
  margin-bottom: 0;
  margin-top: 10px;
}

.infoCard {
  background-color: #ffffff;
  max-width: calc(90% - 10px);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
  border-radius: 10px;  
  margin: 15px auto;
  padding: 10px;
}

/* image icons sizing */
.researchIcon {
  width: 46px;
  height: 52px;
}

.dataAnalysisIcon {
  width: 51px;
  height: 51px;
}

.communicationIcon {
  width: 54px;
  height: 47px;
}

.projectMgmtIcon {
  width: 49px;
  height: 41px;
}
/* end of image icons sizing */

.cardGridWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.infoCard p {
  padding-top: 0;
  margin-top: 0;
  font-weight: 400;
  line-height: 26px;
}

.infoCard h3 {
  padding-top: 10px;
  margin-top: 5px;
  font-weight: bold;
  line-height: 22px;
  font-size: 18px;
}
/* end of info card section */

/* media queries below this point */
@media screen and (min-width: 280px) {
  h1 {
    font-size: 18px;
  }
  .linksDiv p {
    font-size: 13px;
  }
  img {
    width: 168px;
    height: 223.07px;
    overflow: hidden;
  }
  .linksContainer {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
}

@media screen and (min-width: 320px) {
  img {
    width: 168px;
    height: auto;
  }
  h2 {
    font-size: 18px;
  }
  .linksDiv p {
    font-size: 15px;
  }
  .linksContainer {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
  .top-link {
    padding: 5%;
    padding-left: 6.5%;
    padding-right: 6.5%;
  }
}

@media screen and (min-width: 480px) {
  h2 {
    font-size: 20px;
  }
  .top-link {
    padding: 10px;
    padding-left: 1%;
    padding-right: 1%;
  }
  .top-link:nth-of-type(1) {
    max-width: 138px;
  }
  .top-link:nth-of-type(2) {
    max-width: 139px;
  }
  .top-link:nth-of-type(3) {
    max-width: 125px;
  }
  .top-link:nth-of-type(4) {
    max-width: 220px;
  }
  .top-link:nth-of-type(5) {
    max-width: 190px;
  }
  .formInput {
    display: inline-block;
    width: 50%;
    margin-right: 0;
  }
  .searchButton {
    display: inline-block;
    min-width: 35%;
    margin-left: 0;
  }
}

@media screen and (min-width: 600px) {
  .top-link {
    padding-left: 3%;
    padding-right: 3%;
  }
  .cardGridWrapper {
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    max-width: 80%;
    margin: auto;
  }
}

@media screen and (min-width: 768px) {
  .top-link {
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media screen and (min-width: 1025px) {
  .top-link {
    justify-content:space-between;
    padding-left: 1%;
    padding-right: 1%;
  }
  .inputSection {
    display: flex;
    align-items: center;
    max-width: 80%;
    margin: auto;
  }
  .inlineHeader {
    width: 39%;
  }
  h2 {
    margin: 10px auto;
    max-width: none;
    text-align: left;
  }
  #searchForm {
    padding: 0;
    margin: auto;
    width: 50%;
  }
  .formInput {
    padding-left: 0;
    margin-left: 0;
    width: 59%;
  }
  .searchButton {
    width: 30%;
    min-width: 130px;
    margin-right: 0;
  }
  .sponsored {
    text-align: left;
  }
}

@media screen and (min-width: 1281px) {
  .linksContainer, .horizontalLine, .inputSection, .cardGridWrapper {
    max-width: 1800px;
  }
  .inputSection {
    width: 70%;
    max-width: 1800px;
  }
}